{% extends 'base.html' %}
{% load static %}

{%block baseTitle%}
    Blog homepage - {{ blog_name }}
{%endblock%}

{%block baseContent%}
    Receive the data from backend...
    <br />
    <!-- 以下為 django template default filter，規則是中間不能有任何 space -->
    <!-- 使用 {# ... #} 是不會渲染出來的 -->
    {# 以下為 django template default filter，規則是中間不能有任何 space #}
    {{ blog_name|default:"Not yet" }}

    <!-- 以下為 for/if 在 tamplate 中的用法，若無資料，可以使用 empty -->
    <ul>
        {%for article in articleList%}
            <!-- 以下會將 for-loop 透過字典來顯示 -->
            {{ forloop }}
            {%if article.author == 'Oscar'%}
                <!-- 以下也是 filter 的用法，將字母轉為全部大寫(upper) / 小寫(lower) / 首字大寫(title) -->
                <li>{{ article.title|upper }} author: {{ article.author|title }} time: {{ article.time }}</li>
            {%else%}
                <li style="color:red">{{ article.title|lower }} author: {{ article.author }}  time: {{ article.time }}</li>
            {%endif%}
        {%empty%}
            <li>There is no article!</li>
        {%endfor%}
    </ul>

    <img src="{% static '/img/img1.jpg' %}" alt="">
{%endblock%}